.body{
    font: 20px, Arial, sans-serif;
}

.navbar{
    background-color: #8A0886;
    
}

.quem-somos{
    background-color: #8181F7;
    color: white;

}

.margin{
    padding-top: 50px; /*Margem interna*/
    padding-bottom: 50px;
}

.parceiros{
    background-color: #A901DB;
    color: white;
}